@page
@model HelpCheck_Web.Pages.Authen.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "_Layout_auth";
}
<style>
    .login-form {
        border: none;
        border-bottom: 2px solid #E9E9F0 !important;
        background-color: transparent !important;
        color: #648D82;
    }
</style>
<div class="row">
    <div class="col-md-3 col-sm-3 app-header-left" style="text-align:center;">
        <img src="~/assets/images/health_care_icon_for_doctors_team_slide01.png" height="320px;" width="300px;" />
    </div>
    <div class="col-md-9 col-sm-3 app-header-right">
        <form class="col-md-8 col-sm-3" method="post" asp-page="Index">
            <div class="text-center">
                <img src="~/assets/images/phra_mongkut_klao_hospital.png" height="150px;" width="150px;" />
                <br />
                <h4 style="color:#308B57">โรงพยาบาลพระมงกุฏเกล้า</h4>
                <br /><br />
                <h4 style="color:dimgray">ใส่เลขบัตรประชาชนของคุณ</h4>
                <br />
            </div>
            <div class="position-relative form-group">
                <input name="username" id="exampleEmail" placeholder="เลขบัตรประชาชน" type="text" class="form-control login-form" asp-for="@Model.Username">
            </div>
            <button type="submit" class="mt-1 btn btn-primary" style="font-size:medium;">ยืนยัน</button>
        </form>
    </div>
</div>

<script>
    if (@ViewData["success"] == 1) {
        alert("กรุณาตั้งรหัสผ่านใหม่.");
        window.location.href = '/Authen/SetPassword';
    }
    
</script>